.d-picker#date-picker
    .top
        .left.arrow
            button(data-action="down") <
        .right.arrow
            button(data-action="up") >
        .date#dp-date
    .body#dp-table
    .bottom
        a(href="javascript:void(0)") скрыть
    