.d-picker#date-picker
    .top
        .right.arrow
            button(data-action="up") >
        .right.arrow
            button(data-action="down") <
        .date#dp-date
    .body#dp-table
    .bottom
        a#dphide.hide(href="javascript:void(0)") скрыть
    