doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        title Road2eSports
        link(rel="stylesheet" href="/style/main.css")
        link(rel="shortcut icon" type="image/png" href="/img/icon_32.png" sizes="32x32")
        link(rel="shortcut icon" type="image/png" href="/img/icon_16.png" sizes="16x16")
    body
        .container
            div
                .row 
                    h2 Дата начала
                .row.center
                    .col.col-a
                        span День
                    .col.col-a
                        span Месяц
                    .col.col-a
                        span Год
                .row.center
                    .col.col-a
                        input(id="start-day" type="number")
                    .col.col-a
                        input(id="start-month" type="number")
                    .col.col-a
                        input(id="start-year" type="number")
                .row
                    h2 Время начала
                .row.center
                    .col.col-b
                        span Часы
                    .col.col-b
                        span Минуты
                .row.center
                    .col.col-b
                        input(id="start-hours" type="number")
                    .col.col-b
                        input(id="start-min" type="number")
                .row
                    h2 Контрольное время
                .row.center
                    .col.col-b
                        span Часы
                    .col.col-b
                        span Минуты
                .row.center
                    .col.col-b
                        input(id="target-hours" type="number")
                    .col.col-b
                        input(id="target-min" type="text")
            
            div
                .row.center
                    button Go
            include ./dpicker.pug
        block scripts
            script(src="/js/core.js")
            script(src="/js/input.js")
            script(src="/js/datepicker.js")
            script(src="/js/app.js")