doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        title Road2eSports
        link(rel="stylesheet" href="/style/main.css")
        link(rel="shortcut icon" type="image/png" href="/img/icon_32.png" sizes="32x32")
        link(rel="shortcut icon" type="image/png" href="/img/icon_16.png" sizes="16x16")
    body
        .container
            div
                .row
                    span#dt
                .row
                    input(type="number")
                    span :
                    input(type="number")
            include ./dpicker.pug
        div.hidden
            input#input(type="number")
        block scripts
            script(src="/js/core.js")
            script(src="/js/datepicker.js")
            script(src="/js/app.js")