doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        title Road2eSports
        link(rel="stylesheet" href="/style/main.css")
        link(rel="shortcut icon" type="image/png" href="/img/icon_32.png" sizes="32x32")
        link(rel="shortcut icon" type="image/png" href="/img/icon_16.png" sizes="16x16")
    body
        .container
            div.input
                .row
                    h2 Дата начала
                .row 
                    form(action="#" method="post")
                        div.form-line.border
                            table
                                tbody
                                    tr
                                        td
                                            input(type="text" class="user-input" id="start-day" name="start-day" maxLength="2" autocomplete="off")
                                        td /
                                        td
                                            input(type="text" class="user-input" id="start-month" name="start-month" maxLength="2" autocomplete="off")  
                                        td /
                                        td
                                            input(type="text" class="user-input year" id="start-year" name="start-year" maxLength="4" autocomplete="off") 
                                        td
                                            a(href="javascript:void(0)") go
                        div.form-line.border
                            table
                                tbody
                                    tr
                                        td
                                            input(type="text" class="user-input" id="start-hours" name="start-hours" maxLength="3" autocomplete="off")
                                        td :
                                        td
                                            input(type="text" class="user-input" id="start-min" name="start-min" maxLength="2" autocomplete="off")  

                        div.form-line
                            h2 Контрольное время
                        div.form-line
                        table
                            tbody
                                tr
                                    td
                                        input(type="text" class="user-input" id="start-hours" name="start-hours" maxLength="3" autocomplete="off" value="67")
                                    td :
                                    td
                                        input(type="text" class="user-input" id="start-min" name="start-min" maxLength="2" autocomplete="off" value="00")
            div
                .row.center
                    button Go
            //include ./dpicker.pug
        block scripts
            script(src="/js/core.js")
            script(src="/js/input.js")
            script(src="/js/datepicker.js")
            script(src="/js/app.js")