div.input
    form(action="#" method="post" id="input-form")
        div.block
            div.block-header
                h3 Дата начала
            div.block-body
                div.block-row
                    table
                        tbody
                            tr.input-block.input-border
                                td
                                    input(type="text" disabled="disabled" class="user-input" id="start-day" name="start-day" maxLength="2" autocomplete="off" data-min="1" data-max="31")
                                td.input-delimiter /
                                td
                                    input(type="text" disabled="disabled" class="user-input" id="start-month" name="start-month" maxLength="2" autocomplete="off" data-min="1" data-max="12")
                                td.input-delimiter /
                                td
                                    input(type="text" disabled="disabled" class="user-input year" id="start-year" name="start-year" maxLength="4" autocomplete="off" data-min="2016" data-max="2050")
                                td
                                    a#show-dp(href="javascript:void(0)" data-event="show:dpicker")
                                        img(alt="календарь" src="/img/calendar.png")
                div.block-row.block-row--last
                    table
                        tbody
                            tr.input-block.input-border
                                td
                                    input(type="text" class="user-input" id="start-hours" name="start-hours" maxLength="2" autocomplete="off" data-min="0" data-max="23")
                                td.input-delimiter :
                                td
                                    input(type="text" class="user-input" id="start-min" name="start-min" maxLength="2" autocomplete="off" data-min="0" data-max="59")
        div.block
            div.block-header
                h3 Контрольное время
            div.block-body
                div.block-row
                    table
                        tbody
                            tr.input-block.input-border
                                td
                                    input(type="text" class="user-input wide" id="target-hours" name="target-hours" maxLength="3" autocomplete="off" data-min="0" data-max="220" data-auto="100")
                                td.input-delimiter :
                                td
                                    input(type="text" class="user-input" id="target-min" name="target-min" maxLength="2" autocomplete="off" data-min="0" data-max="59")
                div.block-row.block-row--last.block-row--center
                    input(class="submit-btn btn" type="submit" value="расчет")