.result#result
    .container
        div.block
            div.block-header
            div.block-body
                .row
                    h3 Время начала заявки
                    div.r-out.ta-center
                        span#r-start-date.r-out-block 10/04/2017
                        span#r-start-time.r-out-block 14:54
                .row
                    h3 Контрольное время
                    div#r-target.r-out.ta-center 67:00
                .row.mb-50
                    h3 Время окончания заявки
                    div#r-end.r-out.ta-center
                        span#r-end-date.r-out-block 14/04/2017
                        span#r-end-time.r-out-block 09:54
                .row.ta-center
                    button#r-hide.btn скрыть