.block {
  background-color: #fff;
  margin-bottom: 10px;

  .block-header {
    padding: 10px 5px 0;

    h2 {
      color: #333;
    }
  }

  .block-body {
    padding: 0 10px 15px;
  }

  .block-row {
    padding: 0 15px;
    margin-bottom: 15px;
  }

  .block-row--last {
    margin-bottom: 0;
  }

  .block-row--center {
    text-align: center;
  }
}