.d-picker {
    background-color: #fff;
    color: #333;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;

    .top {
        line-height: 3rem;

        .arrow button {
            padding: 0 20px;
            background-color: transparent;
            color: #333;
            margin-left: 20px;
            border: none;

            &:focus {
                outline: none;
            }

            &:hover {
                cursor: pointer;
            }
        }

        .left {
            float: left;
        }

        .right {
            float: right;
        }

        .date {
            font-weight: bold;
            padding: 0 15px 0 20px;
            &:after {
                clear: both;
            }
        }
    }

    .body {
        table {
            width: 100%;
        }

        td, th {
            line-height: 3rem;
            text-align: center;
            width: 14.2857%;
        }
        .hover:hover {
            text-decoration: underline;
            cursor: pointer;
            transition: background-color .2s ease-in;
        }

        .active {
            color: #3498db;

            &:hover {
                text-decoration: underline;
            }
        }
    }
    .bottom {
        padding: 10px 0;
        text-align: center;
    }
}