.d-picker {
    background-color: rgba(0, 0, 0, .85);
    color: #fff;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 2px 5px #333;
    display: none;

    .top {
        line-height: 3rem;

        .arrow button {
            padding: 0 20px;
            background-color: transparent;
            color: #fff;
            border: none;

            &:focus {
                outline: none;
            }

            &:hover {
                background-color: #111;
                cursor: pointer;
            }
        }

        .left {
            float: left;
        }

        .right {
            float: right;
        }

        .date {
            text-align: center;
            &:after {
                clear: both;
            }
        }
    }

    .body {
        table {
            width: 100%;
        }

        td, th {
            line-height: 3rem;
            text-align: center;
            width: 14.2857%;
        }
        .hover:hover {
            background-color: #111;
            cursor: pointer;
            transition: background-color .2s ease-in;
        }

        .active {
            background-color: #3498db;

            &:hover {
                background-color: #3498db;
            }
        }
    }
    .bottom {
        padding: 10px 0;
        text-align: center;

        .hide {
            color: #fff;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }

            &:visited {
                color: #fff;
            }
        }
    }
}