$input-2: 21px;
$input-3: 30px;
$input-4: 40px;
$input-text-align: left;
$input-td-padding: 0 5px;

.input {
    table {
        margin: 0 auto;
    }

    .form-line {
        margin-bottom: 15px;

        &.center {
            text-align: center;
        }

        &.last {
            margin-bottom: 50px;
        }
    }

    .input-block {
        background-color: #fff;
    }

    .input-delimiter {
        padding: 5px 0;
    }

    .input-border {
        border-bottom: 2px solid #3498db;
        display: block;
        border-radius: 0px;
    }

    a {
        display: inline-block;
        vertical-align: text-bottom;
    }



    td {
        padding: $input-td-padding;
    }

    .user-input {
        border: none;
        outline: none;
        width: $input-2;
        text-align: $input-text-align;
        color: #555;
        line-height: 1rem;
        padding: 0;

        &::-ms-clear {
            display: none;
        }

        &::placeholder {
            color: #ccc;
        }

        &:disabled {
            background-color: transparent;
        }

        &.year {
            width: $input-4;
        }

        &.wide {
            width: $input-3;
        }
    }
}