$input-2: 25px;
$input-3: 35px;
$input-4: 50px;

.input {
    table {
        margin: 0 auto;
    }

    .form-line {
        margin-bottom: 15px;

        &.center {
            text-align: center;
        }

        &.last {
            margin-bottom: 50px;
        }
    }

    .input-block {
        background-color: #fff;
    }

    .input-delimiter {
        padding: 5px 0;
    }

    .input-border {
        border-bottom: 2px solid #3498db;
        display: block;
        border-radius: 0px;
    }

    a {
        display: inline-block;
        vertical-align: text-bottom;
    }



    td {
        padding: 5px;
    }

    .user-input {
        border: none;
        outline: none;
        width: $input-2;
        text-align: right;
        color: #555;
        line-height: 1rem;
        padding: 0;

        &::-ms-clear {
            display: none;
        }

        &.user-input--right {
            margin-right: 10px;
        }

        &::placeholder {
            color: #ccc;
        }

        &:disabled {
            background-color: transparent;
        }

        &.year {
            width: $input-4;
        }

        &.wide {
            width: $input-3;
        }
    }
}