.result {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #eee;
  display: none;


  .r-out {
    color: #777;
    font-size: 1.5rem;
  }

  #r-end {
    .r-out-block {
      font-weight: 900;
      color: #000;
    }
  }

  .r-out-block {
    padding: 0 10px;
  }
}