// css reset
@import "../../bower_components/bootstrap/scss/bootstrap-reboot";

// modules
@import "./dpicker";
@import "./input";
@import "./result";

// components
@import "header";
@import "block";

body {
    background-color: #EEEEEE;
}

.hidden {
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.container {
    margin: 0 auto;
    width: 100%;
    position: relative;
    padding: 0 5px;
}

.row {
    
}

.col {
    float: left;
}

.col-a {
    width: 33.3333%;
}

.col-b {
    width: 50%;
}

.row:after {
    content: "";
    display: block;
    clear: both;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

// basic button
.btn {
    border: 2px solid #ddd;
    background-color: #ddd;
    color: #333;
    padding: 5px 20px;
    outline: none;
    text-transform: uppercase;
    margin: 0 3px;

    &:hover {
        cursor: pointer;
    }

    &:active {
        border: 2px solid #333;
        background-color: #333;
        color: #fff
    }
}

// basic
.ta-center {
    text-align: center;
}

.mb-50 {
    margin-bottom: 50px;
}


@media (min-width: 430px) {
    .container {
        width: 420px;
    }
}